/* Very crude at the  moment, trying to implement what I have made on paper */

/* these are the major sections, like Bio, Education */
.navlinks {
  color: #191170;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: bold;
}

/* this is the 'About Me' title */
#title {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  color: #191170;
  background-color: #AFEEEE;
  margin-top: 0;
}

#about_img {
  position: absolute;
  right: 10px;
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

/* This is for the information for each heading */
.info {
  margin: 0;
  max-width: 65%;
}

body {
  background-color: #90EE90;
}
