/* Very crude at the  moment, trying to implement what I have made on paper */

/* these are the major sections, like Bio, Education */
.navlinks {
  color: brown;
  margin-bottom: 0;
}

/* this is the 'About Me' title */
#title {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  color: brown;
  background-color: orange;
  margin-top: 0;
}

#about_img {
  position: absolute;
  right: 10px;
  max-width: 30%;
  height: auto;

}

/* This is for the information for each heading */
.info {
  margin: 0;
  max-width: 65%;
}

body {
  background-color: #ADFF2F;
}
